.loading{
    position: absolute;
    top: 40%;
    left: 50%;

}

@media screen and (max-width: 768px){
    .loading{
        top: 40%;
        left: 40%;
        height: 70px;
        width: 70px;
    }
}